USE [master]
GO
/****** Object:  Database [Empresa_X]  ******/
CREATE DATABASE [Empresa_X]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Empresa_X', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Empresa_X.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Empresa_X_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Empresa_X_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Empresa_X].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Empresa_X]
GO
/****** Object:  Table [dbo].[funcionario]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[funcionario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[nascimento] [date] NOT NULL,
	[data_contratacao] [date] NULL,
	[cargo] [varchar](30) NOT NULL,
	[cidade] [varchar](30) NULL,
	[salario] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_funcionario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[produto]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[produto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome_prod] [varchar](50) NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[validade] [date] NOT NULL,
	[estoque] [int] NULL,
	[preco] [nchar](10) NOT NULL,
 CONSTRAINT [PK_produto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[venda] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[venda](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[produto_vend] [varchar](50) NOT NULL,
	[marca_vend] [varchar](50) NOT NULL,
	[quantidade] [int] NULL,
	[vendedor] [varchar](50) NOT NULL,
 CONSTRAINT [PK_venda] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[funcionario] ON 

INSERT [dbo].[funcionario] ([id], [nome], [nascimento], [data_contratacao], [cargo], [cidade], [salario]) VALUES (1, N'José da Silva', CAST(0x11070B00 AS Date), CAST(0x66330B00 AS Date), N'Gerente', N'São Paulo', CAST(3850.00 AS Decimal(18, 2)))
INSERT [dbo].[funcionario] ([id], [nome], [nascimento], [data_contratacao], [cargo], [cidade], [salario]) VALUES (2, N'Maria da Graça', CAST(0x4A180B00 AS Date), CAST(0xDF300B00 AS Date), N'Vendedor', N'São Paulo', CAST(2500.50 AS Decimal(18, 2)))
INSERT [dbo].[funcionario] ([id], [nome], [nascimento], [data_contratacao], [cargo], [cidade], [salario]) VALUES (3, N'João Pedro', CAST(0x49F80A00 AS Date), CAST(0x7E070B00 AS Date), N'Vendedor', N'Araras', CAST(3650.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[funcionario] OFF
SET IDENTITY_INSERT [dbo].[produto] ON 

INSERT [dbo].[produto] ([id], [nome_prod], [marca], [validade], [estoque], [preco]) VALUES (1, N'Água Mineral', N'Danone', CAST(0x2C400B00 AS Date), 500, N'1,25      ')
INSERT [dbo].[produto] ([id], [nome_prod], [marca], [validade], [estoque], [preco]) VALUES (2, N'Água Mineral ', N'Minalba', CAST(0xC13E0B00 AS Date), 30, N'1,28      ')
INSERT [dbo].[produto] ([id], [nome_prod], [marca], [validade], [estoque], [preco]) VALUES (3, N'Bolacha', N'Tostines', CAST(0xAB410B00 AS Date), 20, N'3,40      ')
SET IDENTITY_INSERT [dbo].[produto] OFF
SET IDENTITY_INSERT [dbo].[venda] ON 

INSERT [dbo].[venda] ([id], [produto_vend], [marca_vend], [quantidade], [vendedor]) VALUES (1, N'Bolacha', N'Tostines', 500, N'Daniel Mendes')
INSERT [dbo].[venda] ([id], [produto_vend], [marca_vend], [quantidade], [vendedor]) VALUES (2, N'Água Mineral', N'Minalba', 300, N'Rodrigo Alves')
INSERT [dbo].[venda] ([id], [produto_vend], [marca_vend], [quantidade], [vendedor]) VALUES (4, N'Água Mineral', N'Danone', 200, N'Rodrigo Alves')
SET IDENTITY_INSERT [dbo].[venda] OFF
USE [master]
GO
